<script src="//cdn.jsdelivr.net/prefixfree/1.0.7/prefixfree.min.js"></script>
<script src="//cdn.jsdelivr.net/what-input/2.0.1/what-input.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery/2.2.2/jquery.min.js"></script>
<script src="//cdn.jsdelivr.net/skrollr/0.6.30/skrollr.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
<script src="//google.com/recaptcha/api.js?render=explicit&onload=initForm"></script>
<script src="{{ 'js/main.js' | prepend: site.baseurl }}"></script>
