body {
  background-color: $color-main;
  font-family: $font-family-regular;
  background-image: url('../images/background-blur.jpg');
  background-size: cover;
  background-origin: content-box;
  background-position: center bottom;
  background-attachment: fixed;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/background.jpg');
    background-size: cover;
    background-position: center;
    will-change: opacity;
    transform: translate3d(0,0,0);
  }
}
_::-webkit-full-page-media, _:future, :root body {
  background-size: auto;
}

a {
  color: $color-accent;
  text-decoration: none;
  border-bottom: dotted 1px fade-out($color-accent, 0.4);
  transition: border .2s ease-out;
  &:hover {
    border-bottom-color: fade-out($color-accent, 0.2);
  }
}

p {
  line-height: 1.4em;
}

[data-whatinput="mouse"] * {
  outline: none;
}


.button {
  cursor: pointer;
  color: $color-accent;
  background: transparent;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 2px;
  box-shadow: 0 0 1px 0 $color-accent;
  border: 0;
  transition: background .2s ease-in-out;
  &:hover, &:focus {
    background-color: fade-out($color-accent, 0.9);
  }
  &:active {
    background-color: fade-out($color-accent, 0.7);
  }

  &--big {
    font-size: 1.3em;
    font-family: $font-family-light;
  }
}
