body {
  font-family: $font-family-regular;
  &:before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $color-main;
    background-image: url('../images/background-blur-hd.jpg');
    background-size: cover;
    background-origin: content-box;
    background-position: center bottom;
    z-index: -1;
  }

  .background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../images/background-hd.jpg');
    background-size: cover;
    background-position: center bottom;
    will-change: opacity;
    transform: translate3d(0,0,0);
    z-index: -1;
    pointer-events: none;
  }
}
@media
  (min-device-pixel-ratio: 2) and (min-width: 1920px),
  (-webkit-min-device-pixel-ratio: 2) and (min-width: 1920px),
  (min-resolution: 192dpi) and (min-width: 1920px)
{
  // Retina-specific stuff here
  body:before {
    background-image: url('../images/background-blur-uhd.jpg');
  }
  .background {
    background-image: url('../images/background-uhd.jpg');
  }
}

_::-webkit-full-page-media, _:future, :root body {
  background-size: auto;
}

a {
  color: $color-accent;
  text-decoration: none;
  border-bottom: dotted 1px fade-out($color-accent, 0.4);
  transition: border .2s ease-out;
  &:hover {
    border-bottom-color: fade-out($color-accent, 0.2);
  }
}

p {
  line-height: 1.4em;
}

strong {
  font-weight: 600;
}

[data-whatinput="mouse"] * {
  outline: none;
}


.button {
  cursor: pointer;
  color: $color-accent;
  background: transparent;
  display: inline-block;
  padding: 0.5em 1em;
  border-radius: 2px;
  box-shadow: 0 0 1px 0 $color-accent;
  border: 0;
  transition: background .2s ease-in-out;
  background-color: rgba(0,0,0,0.05);
  &:hover, &:focus {
    background-color: fade-out($color-accent, 0.9);
  }
  &:active {
    background-color: fade-out($color-accent, 0.7);
  }

  &--big {
    font-size: 1.3em;
    font-family: $font-family-light;
  }
}

a, button {
  font-family: $font-family-regular;
  font-size: 1em;
}
