.contact {
  position: relative;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80vh;

  &__title {
    text-align: center;
    font-family: $font-family-light;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    padding: 0.5em 0 0.3em 0;
    letter-spacing: 0.3em;
  }

  &__subtitle {
    text-align: center;
    color: white;
    margin-bottom: 2em;
  }

  &__title, &__subtitle {
    text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.62);
  }

  &__form {
    width: 550px;
    max-width: 100vw;
  }

  &__form-row {
    margin-bottom: 1em;
    display: flex;
    flex: 1;
    align-items: center;
    &--submit {
      align-items: flex-start;
    }
  }

  &__submit-box {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: stretch;
  }

  &__feedback {
    text-align: center;
    margin-top: .6em;
  }

  &__field {
    background: white;
    border-radius: 2px;
    padding: 0.5em;
    border: 0;
    font-size: 1.3em;
    flex: 1;
    margin: 0 0.5em;
    min-width: 0;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
    max-height: 500px;
  }

  &__captcha {
    margin: -1px 0.5em;
    padding-left: 2px;
  }

  &__submit {
    margin: 0 0.5em;
  }

  &__alert {
    color: white;
  }
}

@media screen and (max-width: 550px) {
  .contact__form-row {
    flex-direction: column;
    padding: 0 2em;
  }
  .contact__field {
    width: 100%;
  }
  .contact__field + .contact__field {
    margin-top: 0.7em;
  }
}
