.projects {
  position: relative;
  background-color: $color-main;
  -webkit-filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.5));
  filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.5));
  user-select: none;
  padding-bottom: 1em;
  margin-bottom: 10vh;
  z-index: 1;
  &:before, &:after {
    content: '';
    background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100' preserveAspectRatio='none'><polygon points='100,100 0,0, 0,100' style='fill:#{$color-main};' /></svg>");
    position: absolute;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    display: block;
    height: 5vh;
  }
  &:before {
    top: calc(-5vh + 0.5px); // 0.5 is a fix for Safari Mobile (otherwise there's a little gap)
  }
  &:after {
    bottom: calc(-5vh + 0.5px);
    transform: rotate(180deg);
  }

  &__title {
    font-family: $font-family-light;
    color: white;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    padding: 0.5em 0 1em 0;
    letter-spacing: 0.3em;
  }

  &__slider {
    margin: 2em 0;
    max-height: 404px;
  }

  &__more {
    color: white;
    text-align: center;
    margin: 1em 0;
  }
  &__more-description {
    margin: 0 1em 2em 1em;
  }
}

.project {
  color: white;
  height: 300px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: scale(0.7);
  transition: all .2s ease-in-out;
  background: rgba(255,255,255,0.05);
  border-radius: 2px;
  padding: 2em;
  opacity: 0.6;
  &.slick-center {
    transform: scale(1);
    opacity: 1;
  }

  &__title {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 1em 0;
    font-family: $font-family-light;
    letter-spacing: 0.3em;
  }
  &__description {
    margin-bottom: 2em;
  }
}

.slick-arrow {
  font-size: 0;
  border: 0;
  background: none;
  width: 50px;
  opacity: 0.6;
  position: absolute;
  height: 364px;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  z-index: 1;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
  &:hover, &:focus {
    opacity: 1;
  }
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    transform: rotate(45deg);
    border: 2px solid white;
  }
  &.slick-prev {
    &:before {
      border-right: 0;
      border-top: 0;
      left: 10px;
    }
    left: 40px;
  }
  &.slick-next {
    &:before {
      border-left: 0;
      border-bottom: 0;
      right: 10px;
    }
    right: 40px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  button {
    border: 0;
    margin: 5px;
    background: rgba(255,255,255,0.05);
    border-radius: 100%;
    font-size: 0;
    width: 12px;
    height: 12px;
    transition: background .2s ease-in-out;
    cursor: pointer;
    &:hover, &:focus {
      background-color: fade-out($color-accent, 0.9);
    }
  }
  .slick-active button {
    background-color: $color-accent;
  }
}

@media screen and (max-width: 1000px) {
  .slick-arrow { display: none !important; }
  .projects__slider { margin-left: 0; margin-right: 0; }
}
