.projects {
  position: relative;
  background-color: $color-main;
  -webkit-filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.5));
  filter: drop-shadow(0px 0px 7px rgba(0,0,0,0.5));
  user-select: none;
  padding-bottom: 1em;
  margin-bottom: 10vh;
  z-index: 1;
  &:before {
    content: '';
    width: calc(100vw + 5px);
    display: block;
    height: 10vh;
    transform-origin: left;
    transform: rotate(1.4deg);
    background: $color-main;
    top: -8vh;
    position: absolute;
    z-index: -1;
    left: -5px;
  }
  &:after {
    content: '';
    width: calc(100vw + 5px);
    display: block;
    height: 10vh;
    transform-origin: left;
    transform: rotate(-1.4deg);
    background: $color-main;
    bottom: -8vh;
    position: absolute;
    z-index: -1;
    left: -5px;
  }

  &__title {
    font-family: $font-family-light;
    color: white;
    text-align: center;
    font-size: 2em;
    text-transform: uppercase;
    padding: 0.5em 0 1em 0;
    letter-spacing: 0.3em;
  }

  &__slider {
    margin: 2em;
  }

  &__more {
    color: white;
    text-align: center;
    margin: 1em 0;
  }
  &__more-description {
    margin-bottom: 2em;
  }
}

.project {
  color: white;
  height: 300px;
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: scale(0.7);
  transition: all .2s ease-in-out;
  background: rgba(255,255,255,0.05);
  border-radius: 2px;
  padding: 2em;
  opacity: 0.6;
  &.slick-center {
    transform: scale(1);
    opacity: 1;
  }

  &__title {
    font-size: 1.5em;
    text-transform: uppercase;
    margin: 1em 0;
    font-family: $font-family-light;
    letter-spacing: 0.3em;
  }
  &__description {
    margin-bottom: 2em;
  }
}

.slick-arrow {
  font-size: 0;
  border: 0;
  background: none;
  width: 50px;
  opacity: 0.8;
  position: absolute;
  height: 364px;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  z-index: 1;
  cursor: pointer;
  transition: opacity .2s ease-in-out;
  &:hover, &:focus {
    opacity: 1;
  }
  &.slick-prev {
    background-image: url(../images/chevron-left.svg);
    left: 0;
  }
  &.slick-next {
    background-image: url(../images/chevron-right.svg);
    right: 0;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  button {
    border: 0;
    margin: 5px;
    background: rgba(255,255,255,0.05);
    border-radius: 100%;
    font-size: 0;
    width: 15px;
    height: 15px;
    transition: background .2s ease-in-out;
    cursor: pointer;
    &:hover, &:focus {
      background-color: fade-out($color-accent, 0.9);
    }
  }
  .slick-active button {
    background-color: $color-accent;
  }
}

@media screen and (max-width: 1000px) {
  .slick-arrow { display: none !important; }
}
