.perspective-fixed {
  perspective: 1000px;
  position: fixed;
  left: calc(50vw - 200px);
  top: calc(50vh - 250px);
}
.user-card {
  position: relative;
  width: 400px;
  max-width: calc(100vw - 2em);
  background: #FFFFFF;
  border-radius: 2px;
  padding: 2em;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.5);
  letter-spacing: 0.1em;
  margin: 0 1em;
  display: none;
  box-sizing: border-box;

  &[style*="flex"] {
    animation: in 2s;
  }

  @keyframes in {
    0% {
      transform: rotateX(30deg);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: rotateX(0deg);
    }
  }

  &__avatar {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    user-select: none;
    height: calc(122px + 2em);

    &:focus {
      outline: 0;
    }
    &:hover &-flipper, &:focus &-flipper{
      transform: rotateY(180deg);
    }

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -2em;
      right: -2em;
      border-bottom: 1px solid $color-main;
    }
  }
  &__avatar-image {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    border-radius: 100%;
    width: 122px;
    height: 122px;
    margin: 1em;
    left: calc(50% - (122px / 2) - 1em);
    backface-visibility: hidden;
    pointer-events: none;

    &--front {
      z-index: 2;
    }
    &--back {
      transform: rotateY(180deg);
    }
    &--white {
      background: #FFF;
      z-index: 0;
      padding: 1em;
      margin: 0;
    }
  }
  &__name {
    text-transform: uppercase;
    margin-bottom: 0.5em;
    font-size: 2em;
  }
  &__title {
    text-transform: uppercase;
  }

  &__avatar-flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
  }

  &__bio-buttons {
    text-align: center;
  }
  &__bio-button, &__resumee-button {
    color: black;
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    background: none;
    border: 0;
    width: fit-content;
    margin-top: 1em;
    border-bottom: dotted 1px fade-out(black, 0.4);
    transition: border .2s ease-out;
    font-size: 0.8em;
    padding: 0.1em;
    line-height: 1em;
    margin: 1em 0.5em 0 0.5em;
    &:hover {
      border-bottom-color: fade-out(black, 0.2);
    }
  }
  &__back {
    cursor: pointer;
    text-transform: uppercase;
    background: none;
    border: 0;
    border-bottom: dotted 1px fade-out(black, 0.4);
    transition: border .2s ease-out;
    float: right;
    margin-top: 1em;
    font-size: 0.8em;
    padding: 0.1em;
    line-height: 1em;
    &:hover {
      border-bottom-color: fade-out(black, 0.2);
    }
  }

  &__bio {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    z-index: 1;
    pointer-events: none;

    &--hidden {
      opacity: 0;
      transition: opacity 0.8s ease-out 0.3s;
    }

    &--visible {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.8s ease-out;
    }
  }
  &__bio--visible &__bio-content {
    opacity: 1;
    transform: translateY(0%);
    transition: opacity 0.3s ease-out 0.3s, transform 0.3s ease-out 0.3s;
  }
  &__bio--hidden &__bio-content {
    opacity: 0;
    transform: translateY(-10%);
    transition: opacity 0.3s ease-out 0s, transform 0.3s ease-out 0s;
  }
  &__bio-content {
    padding: 3em 2em;
  }


  &__social {
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    justify-content: center;
  }
  &__social-icon {
    margin: 0.5em;
    border: 0;
    > svg {
      width: 30px;
    }
    path {
      transition: .2s ease-out;
    }
    &:hover path {
      fill: #2B2330;
    }
  }
}
